.header__container {
  margin-top: 58px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 450px) {
  .header__container {
    margin-top: 24px;
  }
}
